<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .navbar {
        transform: translateX(-27.2%);
        overflow: visible;
        background-color: #ff921e;
        position: fixed;
        top: 0;
        width: 100%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 200%;
        z-index: 999;
    }

    .headlink {
        float: left;
        display: block;
        color: rgb(249, 238, 238);
        text-decoration-color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        text-shadow: 4px 4px 5px rgb(148, 66, 16);
        font-variant: small-caps;

    }
    .headlink:hover {
        text-decoration-color: #67401b;
    }
    .navbar a {
        float: left;
        text-align: center;
        padding: 14px 16px;
    }
    .subnav {
        float: left;
        overflow: hidden;
    }

    .subnav .subnavbtn { 
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(249, 238, 238);
        text-decoration-color: rgb(0, 0, 0);
        text-shadow: 4px 4px 5px rgb(148, 66, 16);
    }

    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: #eee;
        color: black;
    }

    .subnav-content {
        display: none;
        left: 0;
        background-color: red;
        width: 100%;
        z-index: 1;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-decoration-color: rgb(0, 0, 0);
        text-shadow: 4px 4px 5px rgb(148, 66, 16);
    }

    .subnav-content a {
        float: left;
        color: rgb(249, 238, 238);
    }

    .subnav-content a:hover {
        background-color: #eee;
        color: black;
    }

    .subnav:hover .subnav-content {
        display: block;
    }
</style>

<p>
    <table class="navbar">
        <tr>
            <td><a href="."><img src="{{site.baseurl}}/images/Studio_Project.png" width="150px"></a></td><!--ABOUT US IN HERE-->
            <td><a href="cats" class="headlink">Cats</a></td>
            <td><a href="menu" class="headlink">Reviews</a></td>
            <td><a href="hours" class="headlink">Hours</a></td>
            <td><a href="events" class="headlink">Events</a></td>
            <td><div class="subnav">
                <button class="subnavbtn">Games <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="games">Purr-dle</a>
                    <a href="rpg">Not Bubsy 3D</a>
                </div>
            </div></td>
        </tr>
    </table>
</p>
