<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .navbar {
        overflow: hidden;
        background-color: #ff921e;
        position: fixed;
        top: 0;
        width: 100%
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 120%
    }

    .headlink {
        float: left;
        display: block;
        color: rgb(249, 238, 238);
        text-decoration-color: rgb(0, 0, 0)
        text-align: center;
        padding: 14px 16px;
        
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        text-shadow: 4px 4px 5px rgb(148, 66, 16);
        font-variant: small-caps;

    }
    .headlink:hover {
        text-decoration-color: #67401b;
    }
</style>

<p class="navbar">
    <table class="navbar">
        <tr>
            <td><a href="."><img src="{{site.baseurl}}/images/Studio_Project.png" width="200px"></a></td><!--ABOUT US IN HERE-->
            <td><a href="cats" class="headlink">Cats</a></td>
            <td><a href="menu" class="headlink">Menu</a></td>
            <td><a href="hours" class="headlink">Hours</a></td>
            <td><a href="events" class="headlink">Events</a></td>
            <td><a href="shop" class="headlink">Shop</a></td>
        </tr>
    </table>
</p>
