---
---

@import "{{ site.theme }}";


/* "row style" is flexible size and aligns pictures in center */
.row {
  align-items: center;
  display: flex;
}
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  /* this is intended to be used with a span tag for an extra large break */
  .widebr {
    display: block;
    margin-bottom: 1em;
  }
  .eventbox {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px;
    background: #444444;
    line-height: 2;
    border: solid 6px black;
    border-radius: 50px;
    padding: 16px 30px 16px;
    color: white;
  }
.button{
    width: 100%;
    height: 7vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 25px;
    background: #ffffe0;
    border: 3;
    border-color: #FFDB45; 
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 15px;
}
.popup{
  width: 400px;
  background: #F8E69A;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.3s, top 0.3s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-23%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: -40px;
}
.popup h2{
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #ff941c;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.table {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-collapse: collapse;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	overflow: hidden;
	font-weight: bold;
}

.table thead th {
	background: #009578;
	color: white;
}

.table td,
.table th {
	padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
	background: #fff;
}

.table tbody tr:last-of-type {
	border-bottom: 2px solid #009578;
}
.bigflexbox {
  display: flex;
  justify-content: center;
}

.bigflexbox > div {
  background-color: black;
  font-family: 'Courier New';
  color: rgb(6, 240, 6);
  text-align: center;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-items: flex-end;
}
.terminalbox {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.terminalbox > p {
  font-family: 'Courier New';
  color: rgb(6, 240, 6);
  text-align: left;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
}
.terminalbox > div {
  font-family: 'Courier New';
  color: rgb(6, 240, 6);
  text-align: left;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
}

.bigflexbox2 {
  display: flex;
  justify-content: space-around;
}

.bigflexbox2 > input {
  background-color: black;
  font-family: 'Courier New';
  color: rgb(6, 240, 6);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}